//r.npm.sankuai.com/:always-auth=false
//r.npm.sankuai.com/:_password=Z2VuZXJhbC1mZS10ZWNo
//r.npm.sankuai.com/:username=general-fe-tech
//r.npm.sankuai.com/:email=general-fe-tech@dianping.com
registry=http://registry.npmjs.org
unsafe-perm = true
save-prefix = "^"
